@import '/src/assets/variables';

.item {
	width: 100%;

	&:hover {
		color: black;
	}
}

.link {
	display: block;
	width: 100%;
	text-align: left;
	padding: 10px 15px;
	border-radius: 3px;
	background-color: transparent;
	border: none;
	color: white;

	&:hover {
		background-color: white;
		color: $dark-grey;
	}
}
