@import 'src/assets/variables';
@import 'src/assets/base';

.card {
	width: 70%;
	height: calc(100vh - 10px);
	overflow-y: scroll;
	margin: 5px 50px;
	border: 1px solid $middle-grey;
	border-radius: 5px;


	&__title {
		margin: 0;
		padding: 0;
	}

	&__header {
		padding: 5px;
		background-color: $light-grey;
		border-bottom: 1px solid $middle-grey;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}

	&__body{
		padding: 5px;
	}


}
