@import "../../assets/variables";

.section {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid $middle-grey;

	&__title {
		display: block;
		margin: 10px 0;
		font-size: 22px;
		letter-spacing: 0.05em;
	}

	&__definition {
		background-color: $middle-grey;
		padding: 2px;
		border-radius: 3px;
	}

}
