@import 'src/assets/variables';

.subMenu__button {
	background-color: transparent;
	color: white;
	border: none;
	width: 100%;
	text-align: left;
	padding: 10px 15px;
	border-radius: 3px;

	&:hover{
		background-color: white;
		color: $dark-grey;
	}
}

.subMenu {
	width: 100%;
	margin-left: 5px;

	&__active {
		background-color: white;
		color: $dark-grey;
	}

}
