.code {
	position: relative;

	&:hover &__button {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	&__button {
		display: none;
	}

	&__icon {
		fill: #fff;
		font-size: 24px;
	}

	&__comparison {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		text-align: center;
	}
}
